<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Travel app help you plan for your next travels by giving you weather data">
    <meta name="keywords" content="Travel App">
    <meta name="author" content="Khalil Sa">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel App</title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="./media/travel.png">
</head>

<body>
    <header class="header">
        <h2>Travel Planner</h2>
        <div class="tooltip">
            <button class="add-btn icon-btn tooltip" id="add-trip">
                <span class="add-icon"></span>
                <span class="btn-txt">Add Trip</span>
            </button>
            <span class="tooltip-txt">Click To Add New Trip</span>
        </div>
    </header>

    <main>
        <section>
            <form id="form">
                <div class="form-group">
                    <label for="location">Trip To: </label>
                    <input type="text" id="location" placeholder="Enter Location" required>
                </div>
                <div class="form-group">
                    <label for="start">Departing: </label>
                    <input type="date" id="start" name="trip-start" required>
                </div>
                <div class="form-group">
                    <label for="end">Return:</label>
                    <input type="date" id="end" name="trip-end" required>
                </div>
                <input type="submit" name="submit" id="submit" value="submit">
            </form>
        </section>

        <section>
            <h6 class="re-st" style="display:none;">Trips Found:</h6>
            <div id="results">
            </div>
            <strong class="re-st" style="display:none;" id="sv-tr">Saved Trips:</strong>
            <div id="saved-trips">
                <div id="clear">Clear All<i class="fa fa-trash"></i></div>
            </div>
        </section>
    </main>

    <footer>
        <span>Travel Planner By Khalil Sa &amp; 2021</span>
        <span class="r-ft-sp">Using Geonames, Weatherbit, And Pixabay APIs</span>
    </footer>

    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>

</body>

</html>